body {
    margin: 0 auto;
    padding: 0px;
}


.header {
    background-color: black;
    padding: 0px;
}

header {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    background-color: black;
    height: 30px;
}

.nav-header p {
    display: inline;
    padding: 1.8rem;
    color: white;
    text-transform: uppercase;
    float: right;
    padding-right: 0.8rem;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Smooch Sans', sans-serif;
    padding-top: 5px;
    
}

.wine {
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
}

.wine-txt {
    font-family: 'Smooch Sans', sans-serif;
    top: 10%;
    position: absolute;
    color: white;
    font-size: 50px;

    
}

.splash-img {
    position: relative;
    text-align: center;
}
.wine-txt p {
    text-align: center;
}