body {
    margin: 0 auto;
    padding: 0px;
}

.top-header {
    display: flex;
}

.nav-header p {
    text-transform: uppercase;
    margin-right: 30px;
    font-size: 1.2rem;
    font-family: 'Smooch Sans', sans-serif;
    letter-spacing: 0.1rem;
    display: inline;
    color: white;
    border-bottom: 0.5px solid #d4af37 ;


}

.nav-header {
height: 40px;
display: flex;
align-items: center;
justify-content: center;
color: white;
cursor: pointer;

}

.logo h1 {
    font-family: 'Smooch Sans', sans-serif;
    font-size: 3rem;
    color:white;
    font-weight: 400;
    letter-spacing: 1rem;
    text-transform: uppercase;
    margin: 0px auto;
}

.logo {
    display: flex;
    justify-content: center;
}

.splash-img {
    position: relative;
    text-align: center;
    background-image: url(../WineClub-Homepage/resources/mae1-mu-rgEHTLwaI_8-unsplash.jpg);
    height: 500px;
    background-size:cover;
    background-repeat: no-repeat;
}


.events {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 0;
    margin-left: 1.5rem;
    margin-right:1.5rem;
    justify-items: center;
    margin-bottom: 30px;
}

.event {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}
figcaption {
    font-family: 'Smooch Sans', sans-serif;
    font-weight: bold;
}

.event p {
    font-family: 'Smooch Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 200px;
}

.event h1 {
    margin: 0px auto;
    color: black;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Smooch Sans', sans-serif;
    text-decoration: #d4af37 underline 3px;
}

p.date {
    font-family: 'Smooch Sans', sans-serif;
    color: black;
    font-size: 20px;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.event-img {
    height: 200px;
    width: 300px;
    
}

.ceo-img {
    width: 380px;
    height: 500px;
    border: 2px solid #d4af37;

  
}

.ceo {
    padding-left: 20px;
    padding-top: 50px;
    background-color: black;
    margin-left: 50px;
    border: 2px solid #d4af37;
    margin-top: 50px;
    display: inline-flex;
    width: 300px;
    height: 300px;

}



.title-1 h1{
    text-align: center;
    font-family: 'Smooch Sans', sans-serif;
    border-bottom: 2px solid #d4af37;
    margin: 0px auto;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    height: 60px;
    padding-top: 30px;
  
}


.img-bkg {
    background-color: black;
    margin: 0 auto;
    padding: 0;
    height: 200px;
    display: flex;
    font-family: 'Smooch Sans', sans-serif;
}

footer {
    background-color: black;
    margin: 0 auto;
    padding: 0px;
    color: white;
    font-size: 15px;
    font-family: 'Smooch Sans', sans-serif;
    display: flex;
    justify-content: center;
    
}


.footer-txt {
    display: inline;
    text-align: center;
}


.ceo-about {
    margin-left: 100px;
    display: flex; 
    margin-bottom: 10px;
    width: 1200px;
    margin-top: 10px;
}

.ceo-about p {
    width: 1200px;
    color: #d4af37;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    
}


.ceo-name h1 {
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: #d4af37;
    font-family: 'Smooch Sans', sans-serif;
    padding-left: 100px;
}

.ceo-name p {

    text-transform: uppercase;
    color: #d4af37;
    font-family: 'Smooch Sans', sans-serif;
    padding-left: 100px;
}

.ceo-name {
    background-color: black;
    display: flex;
}

